.restaurant-link {
  text-decoration: none;
}

.restaurant-card {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .restaurant-card {
    width: 380px;
  }
}

.restaurant-image {
  width: 200px;
  height: 130px;
  border-radius: 8px;
  margin-right: 15px;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.restaurant-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #334155;
  margin: 0px;
}

.restaurant-cuisine {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #64748b;
  margin: 0px;
}

.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px;
}

.star {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: #ffcc00;
}

.rest-rating {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #1e293b;
  padding-right: 2px;
}
.user-total-reviews {
  color: #64748b;
  margin-left: 2px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .restaurant-image {
    min-width: 200px;
    min-height: 120px;
  }
  .restaurant-info {
    align-items: flex-start;
  }
  .restaurant-name {
    font-size: 12px;
  }
  .restaurant-cuisine {
    font-size: 10px;
  }
  .user-total-reviews {
    font-size: 10px;
  }
}
